
/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }









@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

body {
    background-color: #c2e8f1;
}

footer#page-footer {
	margin: 10px auto 0;
	text-align: center;
}

#page {
    margin: 20px auto;
    width: 980px;
}

#page-content {
	width: 760px;
	float: left;
}

#page-sidebar {
	width: 200px;
	float: right;
}

div.homepage {
    text-align: center;
}
.box {
    border: 1px solid black;
}
.social-widget a {
    text-decoration: none;
}

table.keyboard {
    
}
table.controls input.key-button {
    width: 55px;
    margin-right: 10px;
}
table.controls {
    width: 600px;
}
table.controls th, table.controls td {
    text-align: center;
    border: 1px solid black;
}
table.controls .red {
    background-color: #ffb7b7;
}
table.controls .green {
    background-color: #cdffb7;
}

/* Oriented Controls CSS */
#oriented-controls .quad {
    display:none;
}
#oriented-controls th, #oriented-controls input {
    text-align:left;
    vertical-align:top;
}
#oriented-controls .quad_active {
    display:block;
}
#oriented-controls td, #oriented-controls th {
    padding:0;
    border:1px solid #000;
}
#oriented-controls table {
    border-collapse:collapse;
}
#oriented-controls th {
    width:100px;
    background:#003;
    color:#FFF;
}
#oriented-controls th, #oriented-controls input {
    padding:5px;
}

#oriented-controls .color1, #oriented-controls .color2, #oriented-controls .button {
    width:300px;
}
#oriented-controls input {
    border:0;
}
#oriented-controls .button {
    background:#696969;
	color:#FFF;
}
#oriented-controls .button:hover {
    background:#CCC;
}
#oriented-controls .green {
    background:green;
}
#oriented-controls .red {
    background:red;
}
#oriented-controls .red:hover {
    background:#F30;
}
#oriented-controls .green:hover {
    background:#090;
}
#oriented-controls .active, #oriented-controls .active:hover {
    background:#000;
}
 
#queue {
    clear:right;
    border-collapse:collapse;
}

#queue td, #queue th {
    background:#FFF;
    padding:5px;
    border:1px solid orange;
}

#queue th {
    width:200px;
}

.in_control td {
    background:orange;
    color:#FFF;
}

#oriented-controls .key {
    float:right;
}

#switch_robot {
    width:200px;
    float:right;
    text-align:right;
    clear:right;
}

.center {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

/* Info Display */
#info-display table {
    float: left;
    margin-left: 2px;
    width:200px;
}

#info-display table td, #info-display table th {
    background:#FFF;
    padding:5px;
    border:1px solid orange;
}
#robomancer-controls table {
    
}
#robomancer-controls td, #robomancer-controls th {
    text-align: center;
}
#mancer-joint-1, #mancer-joint-2, #mancer-joint-3, #mancer-joint-4,
 #mancer-joint-val-1, #mancer-joint-val-2, #mancer-joint-val-3, #mancer-joint-val-4 {
    margin: auto;
}
#mancer-joint-val-1, #mancer-joint-val-2, #mancer-joint-val-3, #mancer-joint-val-4 {
    width: 35px;
}
#mancer-speed {
    width: 150px;
}
#mancer-joint-1, #mancer-joint-2, #mancer-joint-3, #mancer-joint-4 {
    height: 170px;
}
#mancer-btngrp-1, #mancer-btngrp-2, #mancer-btngrp-3 {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}
#robomancer-controls .motions, #robomancer-controls .positions {
    float: left;
    margin-top: 10px;
}

#robomancer-controls .motions p, #robomancer-controls .positions p {
    text-align: center;
    margin: 0 auto 1em;
}
#robomancer-controls .motions {
    margin-left: 10px;
    width: 300px;
    height: 440px;
}
#robomancer-controls .positions {
    width: 338px;
    height: 440px;
}
#robomancer-controls .positions table {
    margin: 0 auto;
}
#robomancer-controls .arrow-controls {
    width: 260px;
    height: 206px;
    margin-left: 10px;
    float: left;
    padding: 20px;
}
#robomancer-controls .motions input, #robomancer-controls .motions select, #robomancer-controls #mancer-play {
    margin: auto;
    display: block;
}
#robomancer-controls #mancer-play {
    margin: 5px auto 3px;
}
#robomancer-controls .motions select {
    height: 200px;
    width: 175px;
}
#robomancer-controls .motions input {
    margin: 1em auto;
}
#robomancer-joint-table td {
    padding: 5px 3px;
}
#execute-sequence {
    padding:5px;
}

#execute-sequence textarea {
    width:750px;
}

#assignment {
	width:600px;
	border:1px solid orange;
	padding:10px;
	margin: 0 0 15px;
	background:#FFF;
}

#assignment h3 {
	font-size:1.25em;
	font-weight:bold;
	padding:10px;
	margin:-10px -10px 10px -10px;
	background:orange;
	vertical-align: baseline;
}

#assignment_instructions {
	margin-bottom:10px;
}